USE [master]
GO
/****** Object:  Database [MhrsDB]    Script Date: 19.08.2016 22:48:38 ******/
CREATE DATABASE [MhrsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MhrsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MhrsDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MhrsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MhrsDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MhrsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MhrsDB]
GO
/****** Object:  Table [dbo].[Hasta]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hasta](
	[HastaId] [int] IDENTITY(1,1) NOT NULL,
	[Tc] [nvarchar](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[DogumTarihi] [date] NULL,
	[Cinsiyet] [bit] NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Hasta] PRIMARY KEY CLUSTERED 
(
	[HastaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ilaclar]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilaclar](
	[IlacId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Ilaclar] PRIMARY KEY CLUSTERED 
(
	[IlacId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personel]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelId] [int] IDENTITY(1,1) NOT NULL,
	[Tc] [nvarchar](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[PersonelTipId] [int] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Foto] [image] NULL,
	[FotoPath] [nvarchar](255) NULL,
	[IsDeleted] [bit] NULL,
	[Sifre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[PersonelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonelIzin]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelIzin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_PersonelIzin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PersonelTip]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonelTip](
	[PersonelTipId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[IsRandevuAlabilir] [bit] NOT NULL,
 CONSTRAINT [PK_PersonelTip] PRIMARY KEY CLUSTERED 
(
	[PersonelTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Randevu]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HastaId] [int] NULL,
	[PersonelId] [int] NULL,
	[RandevuSaati] [nvarchar](5) NULL,
	[RandevuTarihi] [date] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Randevu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recete]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recete](
	[ReceteId] [int] IDENTITY(1,1) NOT NULL,
	[HastaId] [int] NOT NULL,
	[PersonelId] [int] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[IsDeleted] [bit] NULL,
	[Teshis] [nvarchar](250) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Recete] PRIMARY KEY CLUSTERED 
(
	[ReceteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReceteIlac]    Script Date: 19.08.2016 22:48:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceteIlac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceteId] [int] NULL,
	[IlacId] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ReceteIlac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_PersonelTip] FOREIGN KEY([PersonelTipId])
REFERENCES [dbo].[PersonelTip] ([PersonelTipId])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_PersonelTip]
GO
ALTER TABLE [dbo].[PersonelIzin]  WITH CHECK ADD  CONSTRAINT [FK_PersonelIzin_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[PersonelIzin] CHECK CONSTRAINT [FK_PersonelIzin_Personel]
GO
ALTER TABLE [dbo].[Randevu]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Hasta] FOREIGN KEY([HastaId])
REFERENCES [dbo].[Hasta] ([HastaId])
GO
ALTER TABLE [dbo].[Randevu] CHECK CONSTRAINT [FK_Randevu_Hasta]
GO
ALTER TABLE [dbo].[Randevu]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[Randevu] CHECK CONSTRAINT [FK_Randevu_Personel]
GO
ALTER TABLE [dbo].[Recete]  WITH CHECK ADD  CONSTRAINT [FK_Recete_Personel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[Personel] ([PersonelId])
GO
ALTER TABLE [dbo].[Recete] CHECK CONSTRAINT [FK_Recete_Personel]
GO
ALTER TABLE [dbo].[ReceteIlac]  WITH CHECK ADD  CONSTRAINT [FK_ReceteIlac_Ilaclar] FOREIGN KEY([IlacId])
REFERENCES [dbo].[Ilaclar] ([IlacId])
GO
ALTER TABLE [dbo].[ReceteIlac] CHECK CONSTRAINT [FK_ReceteIlac_Ilaclar]
GO
ALTER TABLE [dbo].[ReceteIlac]  WITH CHECK ADD  CONSTRAINT [FK_ReceteIlac_Recete] FOREIGN KEY([ReceteId])
REFERENCES [dbo].[Recete] ([ReceteId])
GO
ALTER TABLE [dbo].[ReceteIlac] CHECK CONSTRAINT [FK_ReceteIlac_Recete]
GO
USE [master]
GO
